<section class="pa3">
  <div class="cf mw9 center">
    <ul class="pa0 tc">
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">A</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">B</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">C</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">D</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">E</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">F</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">G</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">H</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">I</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">J</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">K</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">L</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">M</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">N</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">O</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">P</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">Q</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">R</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">S</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">T</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">U</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">V</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">W</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">X</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">Y</li>
      <li href="{{site.baseurl}}/" class="dib list w3 pa3 ma1 white bg-mid-gray link no-underline hover-bg-green br3">Z</li>
    </ul>
  </div>
</section>
