<section class="bg-grey-20 pb3">
  <div class="cf mw9 center tc">
    <a class="db f3 pv3 purple b no-underline" href="#">A to Z of services</a>
    <ul class="cf dn db-m db-l ph0 pb3 pt0 mv0 tc">
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">A</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">B</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">C</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">D</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">E</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">F</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">G</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">H</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">I</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">J</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">K</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">L</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">M</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">N</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">O</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">P</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">Q</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">R</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">S</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">T</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">U</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">V</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">W</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">X</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">Y</li>
      <li class="dib list w3 pa3 ma2 white bg-purple link no-underline hover-bg-mint hover-purple br2">Z</li>
    </ul>
  </div>
</section>
<section class="bg-grey-20">
  <div style="background:url(https://jnkly.github.io/rmbc-dev-v2/images/rotherham-skyline.png) no-repeat right; min-height: 112px;"></div>
</section>
