<section class="bg-peppermint" id="breadcrumb">
  <div class="cf mw9 center">
    <ul class="pl0 mh3 mv2 purple">
      <li class="dib f7 f6-m f6-l pv1">
        <a class="link purple hover-pink" href="{{site.baseurl}}/" rel="home">Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;
      </li>
      <li class="dib f7 f6-m f6-l pv1">
        <a class="link purple hover-pink" href="{{site.baseurl}}/" rel="home">Bins, rubbish and recycling</a>&nbsp;&nbsp;/&nbsp;&nbsp;
      </li>
      <li class="dib f7 f6-m f6-l pv1"><span>Report a missed collection</span></li>
    </ul>
  </div>
</section>
