    <section class="ph3 pv4 bg-light-gray">
      <div class="cf mw9 center">
        <div class="fl w-100 w-50-l ph2">
          <img src="{{site.baseurl}}/images/carousel-sample.jpg" class="mb4 mb0-l">
        </div>
        <div class="fl w-100 w-50-l ph2">
          <input class="events-news--input" id="tab-events" type="radio" name="events-news--tabs" checked>
          <label class="events-news--label" for="tab-events">What's on</label>
          <input class="events-news--input" id="tab-news" type="radio" name="events-news--tabs">
          <label class="events-news--label" for="tab-news">News</label>
          <div class="events-news cf pt2 pb3">
            <div id="events">
              <ul class="ma1 ph2">
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">8 July 2017</p>
                  <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/events" class="link white dim">Rotherham Mela</a></p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">7 July 2017</p>
                  <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/events" class="link white dim">Lunchtime Recitals at Riverside</a></p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">1 August 2017</p>
                  <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/events" class="link white dim">Going on a Bear Hunt</a></p>
                </li>
                <li class="list fl w-100 w-50-l ph1">
                  <p class="f7 light-silver mb0">21 October 2017</p>
                  <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/events" class="link white dim">Rotherham Oktoberfest</a></p>
                </li>
              </ul>
              <div class="cf ph2 tc">
                <a href="http://www.rotherham.gov.uk/events" class="ph3 pv2 input-reset ba link near-black bg-white hover-bg-green hover-white pointer f5 dib bn br3">View all events</a>
              </div>
            </div>
            <div id="news">
              <ul class="ma1 ph2">
                <div class="cf">
                  <li class="list fl w-100 w-50-l ph1">
                    <p class="f7 light-silver mb0">5 July 2017</p>
                    <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/newsroom" class="link white dim">Smoking declining in Rotherham but more can be done</a></p>
                  </li>
                  <li class="list fl w-100 w-50-l ph1">
                    <p class="f7 light-silver mb0">5 July 2017</p>
                    <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/newsroom" class="link white dim">Commissioners&rsquo; latest letter to the Secretary of State</a></p>
                  </li>
                </div>
                <div class="cf">
                  <li class="list fl w-100 w-50-l ph1">
                    <p class="f7 light-silver mb0">4 July 2017</p>
                    <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/newsroom" class="link white dim">Electoral view on Rotherham - Consultation on ward boundaries</a></p>
                  </li>
                  <li class="list fl w-100 w-50-l ph1">
                    <p class="f7 light-silver mb0">3 July 2017</p>
                    <p class="f5 mt1"><a href="http://www.rotherham.gov.uk/newsroom" class="link white dim">Schools&rsquo; celebration for supporting children with additional needs</a></p>
                  </li>
                </div>
              </ul>
              <div class="cf ph2 tc">
                <a href="http://www.rotherham.gov.uk/newsroom" class="ph3 pv2 input-reset ba link near-black bg-white hover-bg-green hover-white pointer f5 dib bn br3">View all news</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
