    <footer id="footer" class="db pv4 ph3 bg-near-black white">
      <div class="cf mw9 center">
        <div class="tc tl-l fl-l w-third-l mb4 mb4-m mb0-l">
          <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/rotherham-mbc-logo-white.svg" class="w-50 w-30-m"></a>
        </div>
        <div class="tc fl-l w-third-l mb4 mb4-m mb0-l">
          <ul class="pa0 mt0-m mt0-l">
            <li class="list"><a href="#" title="Terms and conditions" class="db f5 pa2 link white dim">Site map</a></li>
            <li class="list"><a href="{{site.baseurl}}/languages" title="Languages" class="db f5 pa2 link white dim">Languages</a></li>
            <li class="list"><a href="#" title="Accessibility" class="db f5 pa2 link white dim">Accessibility</a></li>
            <li class="list"><a href="#" title="Terms and conditions" class="db f5 pa2 link white dim">Terms and conditions</a></li>
          </ul>
      </div>
        <div class="tc tc-m tr-l fl-l w-third-l">
          <p class="f6"><a href="{{site.baseurl}}/" class="link white dim">&copy; 2016 Rotherham Council</a></p>
        <small class="f7">Made with <a href="https://localgov.design/" class="dib link white dim">Localgov</a></small>
      </div>
      </div>
    </footer>
