<header class="pv0 ph3 dt w-100 bg-purple">
  <div class="mw9 center">
    <a class="dib fl pv3 white link dim" href="{{site.baseurl}}/" title="Home"><img class="db dn-m dn-l" src="https://jnkly.github.io/rmbc-dev-v2/images/rmbc-logo-white.svg"> <img class="dn db-m db-l" src="https://jnkly.github.io/rmbc-dev-v2/images/rotherham-gov-uk-white.svg"></a> <button class="dib fr pv2 ph3 mt3 tr white bg-pink f6 f5-m f5-l hover-bg-mint hover-purple br2 bn muli" title="Sign out">Sign out</button>
    <p class="dib pv2 mt3 mr3 fr white f7 f5-m f5-l">Hello, Luke</p>
  </div>
</header>
