<header class="pv0 ph3 dt w-100 bg-near-black">
  <div class="mw9 center">
    <a class="dib fl pv3 white link dim" href="{{site.baseurl}}/" title="Home">
      <img src="{{site.baseurl}}/images/rmbc-logo-white.svg" class="db dn-m dn-l">
      <img src="{{site.baseurl}}/images/rotherham-gov-uk-white.svg" class="dn db-m db-l"></a>
    <a class="dib fr pv2 ph3 mt3 tr white link bg-mid-gray f6 f5-m f5-l hover-bg-green br3" href="{{site.baseurl}}/sign-in" title="Sign in">Sign in</a>
  </div>
</header>
