<header class="pv0 ph3 dt w-100 bg-purple">
  <div class="mw9 center">
    <a class="dib fl pv3 white link dim" href="{{site.baseurl}}/" title="Home">
      <img src="{{site.baseurl}}/images/rmbc-logo-white.svg" class="db dn-m dn-l">
      <img src="{{site.baseurl}}/images/rotherham-gov-uk-white.svg" class="dn db-m db-l"></a>
    <button class="dib fr pv2 ph3 mt3 tr white bg-pink f6 f5-m f5-l hover-bg-mint hover-purple br2 bn muli" href="{{site.baseurl}}/sign-in" title="Sign in">Sign in</button>
  </div>
</header>
