<section class="pb3" id="information">
  <div class="cf mw9 center">
    <h3 class="f3 purple mb2 mh3">Information, advice and guidance</h3>
    <ul class="ph0">
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/page">See which bin to use</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/page">Household Waste Recycling Centres</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/page">Your responsibilities for household waste</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/form">Trade waste and recycling</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/form">Request a bulky collection</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/form">Organise a litter pick</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l purple bg-peppermint white no-underline hover-bg-pink hover-white br2" href="{{site.baseurl}}/form">Environmental Enforcement</a>
      </li>
    </ul>
  </div>
</section>
