<section class="pb4 bg-purple">
  <div class="flex flex-column flew-row-m flex-row-l mw9 center">
    <div class="w-100-m w-50-l relative">
      <h3 class="white f3 mb3 mh3">News</h3>
      <div class="flex flex-column flex-row-m flex-row-l mb4">
        <div class="w-50-l mh3 pb2">
          <img src="{{site.baseurl}}/images/riverside.png">
          <p class="f7 peppermint mb0">7 July 2017</p>
          <p class="f5 mt1"><a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Smoking declining in Rotherham but more can be done</a></p>
        </div>
        <div class="w-50-l mh3 pb2">
          <img src="{{site.baseurl}}/images/riverside.png">
          <p class="f7 peppermint mb0">6 July 2017</p>
          <p class="f5 mt1"><a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Commissioners&rsquo; latest letter to the Secretary of State</a></p>
        </div>
      </div>
      <div class="w-100 pa2 center tc absolute bottom-0">
        <a class="ph3 pv2 input-reset ba link no-underline purple bg-mint hover-bg-pink hover-white pointer f5 bn br2" href="http://www.rotherham.gov.uk/newsroom">View all news</a>
      </div>
    </div>
    <div class="w-100-m w-50-l relative">
      <h3 class="white f3 mb3 mh3">Events</h3>
      <div class="flex flex-column flex-row-m flex-row-l mb4">
        <div class="w-50-l mh3 pb2">
          <img src="{{site.baseurl}}/images/riverside.png">
          <p class="f7 peppermint mb0">8 July 2017</p>
          <p class="f5 mt1"><a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Rotherham Mela</a></p>
        </div>
        <div class="w-50-l mh3 pb2">
          <img src="{{site.baseurl}}/images/riverside.png">
          <p class="f7 peppermint mb0">7 July 2017</p>
          <p class="f5 mt1"><a class="link white dim" href="http://www.rotherham.gov.uk/newsroom">Lunchtime Recitals at Riverside House</a></p>
        </div>
      </div>
      <div class="w-100 pa2 center tc absolute bottom-0">
        <a class="ph3 pv2 input-reset ba link no-underline purple bg-mint hover-bg-pink hover-white pointer f5 bn br2" href="http://www.rotherham.gov.uk/newsroom">View all news</a>
      </div>
    </div>
  </div>
</section>
