<section class="pb3 bg-grey-20">
  <div class="cf mw9 center">
    <h3 class="f3 purple mb2 mh3">Popular tasks</h3>
    <ul class="ph0">
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Get a new bin, box or bag</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Request a council housing repair</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Report fly tipping</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Report a faulty streetlight</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Report noise problems</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Report a missed bin</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Make a registrars enquiry</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Make a council housing enquiry</a>
      </li>
      <li class="list fl w-100 w-50-m w-third-l">
        <a class="mh3 mv1 db f6 f6-m f5-l pa2 pa3-m pa3-l bg-purple white no-underline hover-bg-mint hover-purple br2" href="{{site.baseurl}}/sign-in">Apply for free school meals</a>
      </li>
    </ul>
  </div>
</section>
