<section class="flex items-center justify-center" style="background:url(https://source.unsplash.com/user/clemono2/1000x500) no-repeat center; background-size: cover; height: 500px;">
  <div class="mw9 mh3 w-100 tc">
    <h1 class="f2 f2-m f-subheadline-l white mt3 mb0 ts-4">Big hearts, Big changes</h1>
    <h3 class="lh-copy f4 f4-m f3-l white mt3 ts-2">Welcome to your new website - here's a big custom promotional banner</h3>
    <p><a class="dib ph3 pv2 white bg-pink link no-underline hover-bg-mint hover-purple br2 lh-copy mt3" href="#">Find out more</a></p>
  </div>
</section>
