<section class="pt3 pt6-m pt6-l" style="background:url({{site.baseurl}}/images/minster-gardens-banner.jpg) no-repeat center; background-size: cover;">
  <form class="mw7 center">
    <fieldset class="pa0 ba bw1 b--pink br2 mh3 mb3 mb6-m mb6-l">
      <div class="flex">
        <input class="bn w-70 w-80-l f6 f5-m f5-l input-reset fl grey-60 bg-white pa2 pa3-m pa3-l" name="Search query" placeholder="Services, advice and information" type="text" value=""> <input class="bn w-30 w-20-l f6 f5-m f5-l button-reset fl tc pa pa3-m pa3-l white bg-pink hover-bg-mint hover-purple muli" type="submit" value="Search">
      </div>
    </fieldset>
  </form>
  <div class="flex flex-wrap mw9 center pb3">
    <div class="w-100 w-third-m w-third-l">
      <a class="db pa2 pa3-m pa3-l mh3 mv1 mv2-m mv3-l br2 bg-pink white no-underline hover-bg-purple f5 f4-m f4-l" href="{{site.baseurl}}/">Pay</a>
    </div>
    <div class="w-100 w-third-m w-third-l">
      <a class="db pa2 pa3-m pa3-l mh3 mv1 mv2-m mv3-l br2 bg-pink white no-underline hover-bg-purple f5 f4-m f4-l" href="{{site.baseurl}}/">Report</a>
    </div>
    <div class="w-100 w-third-m w-third-l">
      <a class="db pa2 pa3-m pa3-l mh3 mv1 mv2-m mv3-l br2 bg-pink white no-underline hover-bg-purple f5 f4-m f4-l" href="{{site.baseurl}}/">Request</a>
    </div>
  </div>
</section>
