<section class="pa2 pa3-m pa3-l bg-moon-gray">
  <form class="mw7 center">
    <fieldset class="bn ma0 pa0"> 
      <div class="cf flex">
        <input placeholder="Services, advice and information" type="text" name="Search query" value="" class="bn br0 w-70 w-80-l f6 input-reset fl black-80 bg-white pa3 lh-solid br--left br3">
        <input type="submit" value="Search" class="bn br0 w-30 w-20-l f6 button-reset fl tc lh-solid pa3 white bg-near-black hover-bg-green br--right br3">
      </div>
    </fieldset>
  </form>
</section>
