<section class="pa3 bg-grey-20">
  <form class="mw7 center">
    <fieldset class="ma0 pa0 ba bw1 b--pink br2">
      <div class="flex">
        <input class="bn w-70 w-80-l f6 f5-m f5-l input-reset fl grey-60 bg-white pa2 pa3-m pa3-l" name="Search query" placeholder="Services, advice and information" type="text" value=""> <input class="bn w-30 w-20-l f6 f5-m f5-l button-reset fl tc pa2 pa3-m pa3-l white bg-pink hover-bg-mint hover-purple muli" type="submit" value="Search">
      </div>
    </fieldset>
  </form>
</section>
