<section class="pb3">
  <div class="cf mw9 center">
    <h3 class="f3 purple mb2 mh3">Council services</h3>
  </div>
  <div class="mw9 center flex flex-column flex-column-m flex-row-l">
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/briefcase.svg?color=000000&size=24">Jobs and careers</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Look for a job with us</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find apprenticeship vacancies</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a training course</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/home.svg?color=000000&size=24">Housing</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Pay your rent</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Look for a Council home</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Request a repair</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/trash-2.svg?color=000000&size=24">Environment and waste</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a household waste centre</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">See your bin collection dates</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Request a bulky item collection</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/credit-card.svg?color=000000&size=24">Council tax and benefits</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Pay your council tax</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Get help with rent and council tax</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a council tax discount</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mw9 center flex flex-column flex-column-m flex-row-l">
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/edit-2.svg?color=000000&size=24">Planning and development</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a planning application</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for planning permission</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Get planning advice</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/film.svg?color=000000&size=24">Leisure and culture</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a leisure centre</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for an allotment</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a Rothercard</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://jnkly.github.io/rmbc-dev/images/icon-transport.svg">Transport and streets</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Pay or challenge a parking ticket</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a blue badge</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a travel pass</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/award.svg?color=000000&size=24">About the council</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Register to vote</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Request information (FOI)</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Complain about a Council service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mw9 center flex flex-column flex-column-m flex-row-l">
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/users.svg?color=000000&size=24">Health and social care</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Report abuse or neglect</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Request adult care or support</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Request payments for care needs</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://jnkly.github.io/rmbc-dev/images/icon-children.svg">Children and families</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Report abuse or neglect</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Make a fostering enquiry</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Get early help for your family</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/pie-chart.svg?color=000000&size=24">Business and economy</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Pay your business rates</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a business licence</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Bid for a Council contract</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/book.svg?color=000000&size=24">Education and learning</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">See school term dates</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply for a school place</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Claim free childcare</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mw9 center flex flex-column flex-column-m flex-row-l">
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/message-square.svg?color=000000&size=24">Community and living</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Help us look after your area</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Report crime or antisocial behaviour</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Apply to protect community facilities</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/sun.svg?color=000000&size=24">Summer activities</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Book on a Mega Active sports camp</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Book a stall at Rotherham Show</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">See what’s on in the summer holidays</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-column flex-row-m flex-row-l w-100-m w-50-l">
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/map-pin.svg?color=000000&size=24">Consultations</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Proposed changes to bin collections</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Learning disability and autism services</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Proposed changes to educational provision</a>
          </li>
        </ul>
      </div>
      <div class="w-50-m w-50-l mh3 mv1 mv2-m mv2-l ph3 pv1 bg-peppermint br2">
        <a class="db f6 f5-m f5-l grey-90 no-underline pv1 hover-pink" href="#"><img class="dib v-mid mr2" src="https://icongram.jgog.in/feather/map-pin.svg?color=000000&size=24">Your area</a>
        <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a school</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find a GP</a>
          </li>
          <li>
            <a class="db grey-90 no-underline hover-pink pv1" href="#">Find your councillor</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
