<section class="pa3">
      <div class="cf mw9 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/briefcase.svg?color=000000&size=24" class="dib v-mid mr2">Jobs and careers</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Look for a job with us</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find apprenticeship vacancies</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a training course</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/home.svg?color=000000&size=24" class="dib v-mid mr2">Housing</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Pay your rent</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Look for a Council home</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Request a repair</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/trash-2.svg?color=000000&size=24" class="dib v-mid mr2">Environment and waste</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a household waste centre</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">See your bin collection dates</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Request a bulky item collection</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/credit-card.svg?color=000000&size=24" class="dib v-mid mr2">Council tax and benefits</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Pay your council tax</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Get help with rent and council tax</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a council tax discount</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw9 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/edit-2.svg?color=000000&size=24" class="dib v-mid mr2">Planning and development</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a planning application</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for planning permission</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Get planning advice</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/film.svg?color=000000&size=24" class="dib v-mid mr2">Leisure and culture</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a leisure centre</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for an allotment</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a Rothercard</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-transport.svg" class="dib v-mid mr2">Transport and streets</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Pay or challenge a parking ticket</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a blue badge</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a travel pass</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green">
              <img src="https://icongram.jgog.in/feather/award.svg?color=000000&size=24" class="dib v-mid mr2">About the council</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Register to vote</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Request information (FOI)</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Complain about a Council service</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw9 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/users.svg?color=000000&size=24" class="dib v-mid mr2">Health and social care</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Report abuse or neglect</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Request adult care or support</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Request payments for care needs
                </a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="{{site.baseurl}}/images/icon-children.svg" class="dib v-mid mr2">Children and families</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Report abuse or neglect</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Make a fostering enquiry</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Get early help for your family </a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/pie-chart.svg?color=000000&size=24" class="dib v-mid mr2">Business and economy</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Pay your business rates</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a business licence</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Bid for a Council contract</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/book.svg?color=000000&size=24" class="dib v-mid mr2">Education and learning</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">See school term dates</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply for a school place</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Claim free childcare</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cf mw9 center">
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/message-square.svg?color=000000&size=24" class="dib v-mid mr2">Community and living</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Help us look after your area</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Report crime or antisocial behaviour</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Apply to protect community facilities</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db  f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/sun.svg?color=000000&size=24" class="dib v-mid mr2">Summer activities</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Book on a Mega Active sports camp</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Book a stall at Rotherham Show</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">See what’s on in the summer holidays</a></li>
            </ul>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-25-l">
          <div class="db bg-black-05 ph3 pv2 pa3-m pa3-l ma1 ma2-l br3">
            <a href="#" class="db f6 f5-m f5-l near-black no-underline pv1 hover-green"><img src="https://icongram.jgog.in/feather/map-pin.svg?color=000000&size=24" class="dib v-mid mr2">Your area</a>
            <ul class="dn db-m db-l lh-copy mb0 list pa0 f6 mt1">
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a school</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find a GP</a></li>
              <li><a href="#" class="db near-black no-underline hover-green pv1">Find your councillor</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
