<section class="ph2 bg-pink white" id="social">
  <div class="mw9 center">
    <div class="tc tl-l">
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="Facebook"><img src="https://icon.now.sh/facebook/24/ffffff"></a></p>
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="Instagram"><img src="https://icon.now.sh/instagram/24/ffffff"></a></p>
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="Google Plus"><img src="https://icon.now.sh/googleplus/24/ffffff"></a></p>
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="Twitter"><img src="https://icon.now.sh/twitter/24/ffffff"></a></p>
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="Mail"><img src="https://icon.now.sh/mail/24/ffffff"></a></p>
      <p class="dib mh2 mh3-m mh3-l"><a class="dib link white dim" href="#" title="RSS"><img src="https://icon.now.sh/rss/24/ffffff"></a></p>
    </div>
  </div>
</section>
